body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item button {
  margin-left: 10px;
}