html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* asegura que ocupe toda la pantalla */
}

main {
  flex: 1; /* ocupa el espacio restante */
}

footer {
  margin-top: auto; /* empuja el footer al fondo */
}