body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
}

#listaLibros {
  margin-top: 20px;
}

.libro {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
